<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>/home/unthinkable-lap-0014/Desktop/Repository/</localRepository>
  <servers>
    <server>
      <id>github</id>
      <username>harshchoudhary56</username>
      <password>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</password>
    </server>	
  </servers>
  <profiles>
    <profile>
    	<repositories>
    		<repository>
    			<id>github</id>
    			<url>https://maven.pkg.github.com/harshchoudhary56/MavenArtifact</url>
    			<snapshots>
    				<enabled>true</enabled>
    			</snapshots>
    		</repository>
    	</repositories>
    </profile>
  </profiles>
</settings>
